body{
    margin: 100px;
}

a{
    text-decoration: dotted;
}

.list{
    /* border: 1px solid gray; */
    margin: 20px auto;
    max-width: fit-content;
    padding: 10px;
    box-shadow: 2px 2px 15px 2px rgb(100, 89, 89);
}

li a {
    color: #452121;
}

li a:hover,
li a:active{
    color: rgb(151, 14, 14);
}

li a::before{
    content: ">>";
}
